
@{
    Layout = null;
}

@Styles.Render("~/bundles/css-lib")
@Styles.Render("~/bundles/css-public")
@Scripts.Render("~/bundles/script-lib")
@Scripts.Render("~/bundles/script-public")

<link href="~/Plugin/zyuploader/css/zyUpload.css" rel="stylesheet" />
<script src="~/Plugin/zyuploader/js/zyFile.js"></script>
<script src="~/Plugin/zyuploader/js/zyUpload.js"></script>

<link href="~/Content/admin/admin-public.css" rel="stylesheet" />
<script src="~/Scripts/admin/admin-public.js"></script>
<link href="~/Content/admin/admin-content.css" rel="stylesheet" />
<script src="~/Scripts/admin/admin-banner.js"></script>

<div class="tp-content" ng-app="app" ng-controller="bannerAdd">
    <div id="demo" class="demo"></div>
</div>