
@{
    Layout = null;
}


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/jquery-2.2.4.js"></script>
    <script src="~/Plugin/ngtable/js/ng-table.js"></script>
    <link href="~/Plugin/ngtable/css/ng-table.css" rel="stylesheet" />
    <script>
        var app = angular.module('myTable', ['ngTable']);

        //app.factory('UsersFactory', function ($http, $rootScope) {
        //    return {
        //        getUsers: function () {
        //            var users = $http.get("http://localhost:7366/api/User/GetUser");
        //            return [
        //                {Id:1,Name:'aa',Age:223,Email:'eee@www.com'},
        //            ];//正常
        //        }
        //    };
        //});

        app.controller("table1Ctrl", function ($scope, NgTableParams) {
            $scope.data = [
                { Id: 1, Name: 'aa1', Age: 223, Email: 'eee@www.com' },
                { Id: 2, Name: 'aa2', Age: 223, Email: 'eee@www.com' },
                { Id: 3, Name: 'aa3', Age: 223, Email: 'eee@www.com' },
            ];
            $scope.GetUsers = function () {
                $scope.tableParams = new NgTableParams({ count: 4 }, {
                    counts: [5,10,20],
                    dataset: $scope.data,
                });
            }

            $scope.GetUsers();

            $scope.add = function () {
                console.log(123);
                $scope.data.push({ Id: 4, Name: 'aa3', Age: 223, Email: 'eee@www.com' });
                console.log(123);
            }
            $scope.reload = function () {
                $scope.tableParams.reload();
            }
        });
    </script>
    @*<link href="Content/bootstrap/bootstrap.css" rel="stylesheet" />
        <script src="Scripts/anjularJS/angular.min.js"></script>
        <script src="Scripts/jquery-1.9.0.js"></script>
        <script src="Scripts/ng-table/ng-table.js"></script>
        <link href="Scripts/ng-table/ng-table.css" rel="stylesheet" />
        <script src="Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
        <script src="Scripts/angular-ui/ui-bootstrap.js"></script>
        <script src="myTable.js"></script>*@
</head>
<body>
    <div ng-app="myTable" ng-controller="table1Ctrl">
        <h3>AnjularJS ngTable插件使用</h3>
        <table ng-table="tableParams" class="table table-condensed table-bordered table-striped" style="text-align:center">
            <tr ng-repeat="user in $data">
                <td title="'ID'" sortable="'Id'" filter="{Id: 'number'}">{{user.Id}}</td>
                <td title="'Name'" sortable="'Name'">{{user.Name}}</td>
                <td title="'Age'" sortable="'Age'">{{user.Age}}</td>
                <td title="'Email'" sortable="'Email'">{{user.Email}}</td>
            </tr>
        </table>


        <button ng-click="add()">add</button>
        <button ng-click="reload()">reload</button>
    </div>
</body>
</html>