
@{
    Layout = null;
}


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    @*<style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }

        body {
            font: 12px/1 '微软雅黑';
        }

        .wrapper {
            font-size: 0.85rem;
            color: #333;
            padding-top: 0.75rem;
            margin: 0 0.75rem;
            white-space: nowrap;
            overflow: hidden;
            width: 300px;
        }

        .inner {
            width: 1000px;
            overflow: hidden;
        }

            .inner p {
                display: inline-block;
            }
    </style>*@
</head>
<body>
    @*<div id="wrapper" class="wrapper">
            <div class="inner">
                <p class="txt">文字如果超出了宽度自动向左滚动文字如果超出了宽度自动向左滚动。</p>
            </div>
        </div>
        <script>
            var wrapper = document.getElementById('wrapper');
            var inner = wrapper.getElementsByTagName('div')[0];
            var p = document.getElementsByTagName('p')[0];
            var p_w = p.offsetWidth;
            var wrapper_w = wrapper.offsetWidth;
            window.onload = function fun() {
                if (wrapper_w > p_w) { return false; }
                inner.innerHTML += inner.innerHTML;
                setTimeout("fun1()", 2000);
            };
            function fun1() {
                if (p_w > wrapper.scrollLeft) {
                    wrapper.scrollLeft++;
                    setTimeout("fun1()", 30);
                }
                else {
                    setTimeout("fun2()", 2000);
                }
            }
            function fun2() {
                wrapper.scrollLeft = 0;
                fun1();
            }
        </script>*@

    <style type="text/css">
        #gongao {
            width: 1000px;
            height: 30px;
            overflow: hidden;
            line-height: 30px;
            font-size: 13px;
            font-family: '宋体';
            background: #DDE5ED;
            color: #0C77CF;
            font-weight: bold;
        }

            #gongao #scroll_begin, #gongao #scroll_end {
                display: inline
            }
    </style>
    <script type="text/javascript">
        function ScrollImgLeft() {
            var speed = 50;
            var scroll_begin = document.getElementById("scroll_begin");
            var scroll_end = document.getElementById("scroll_end");
            var scroll_div = document.getElementById("scroll_div");
            scroll_end.innerHTML = scroll_begin.innerHTML;
            function Marquee() {
                if (scroll_end.offsetWidth - scroll_div.scrollLeft <= 0)
                    scroll_div.scrollLeft -= scroll_begin.offsetWidth;
                else
                    scroll_div.scrollLeft++;
            }
            var MyMar = setInterval(Marquee, speed);
            scroll_div.onmouseover = function () { clearInterval(MyMar); }
            scroll_div.onmouseout = function () { MyMar = setInterval(Marquee, speed); }
        }
    </script>
    <div id="gongao">
        <div style="width:900px;height:30px;margin:0 auto;white-space: nowrap;overflow:hidden;" id="scroll_div" class="scroll_div">
            <div id="scroll_begin">
                测试测试测试测试测试测试测试测试测试测试测试测试
                测试测试测试测试测试测试测试测试测试测试测试测试
                测试测试测试测试测试测试测试测试测试测试测试测试
                测试测试测试测试测试测试测试测试测试测试测试测试
            </div>
            <div id="scroll_end"></div>
        </div>
        <script type="text/javascript">ScrollImgLeft();</script>
    </div>
    <marquee direction="left">我向左滚动</marquee>
</body>
</html>