
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div>
        <br />
        <br />
        <br />
        宣传内容
        <br />
        <br />
        <br />
    </div>
    <form style="padding:20px;" action="/Home/Index" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="phone" placeholder="请输入手机号..." />
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-default">立即观看</button>
        </div>
    </form>
</div>

