
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div>宣传内容</div>
    <form action="/Home/Index" method="post">
        <input type="text" name="phone" placeholder="请输入手机号..."/>
        <button type="submit">立即观看</button>
    </form>
</div>

