
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}
<div ng-controller="index">
    <br />
    <div class="tp-index" ng-repeat="pt in content.product">
        <div class="tp-index-title">
            <span ng-bind="pt.name"></span>
            <a class="tp-index-more">
                更多<span class="glyphicon glyphicon-menu-right"></span>
            </a>
        </div>
        <ul class="tp-product">
            <li ng-repeat="p in pt.product">
                <a class="tp-product-item">
                    <div class="tp-product-top" ng-if="p.top==true">推荐</div>
                    <div class="tp-product-img">
                        <img ng-src="{{p.path}}" />
                    </div>
                    <div class="tp-product-title" ng-bind="p.name"></div>
                </a>
            </li>
        </ul>
    </div>
    <div class="tp-index" ng-repeat="nt in content.news">
        <div class="tp-index-title">
            <span ng-bind="nt.name"></span>
            <a class="tp-index-more">
                更多<span class="glyphicon glyphicon-menu-right"></span>
            </a>
        </div>
        <ul class="tp-news">
            <li ng-repeat="n in nt.news">
                <a class="tp-news-item">
                    <div class="tp-news-top" ng-if="n.top==true">推荐</div>
                    <div class="tp-news-img">
                        <img ng-src="{{n.path}}" />
                    </div>
                    <div class="tp-news-content">
                        <div class="tp-news-title" ng-bind="n.title"></div>
                        <div class="tp-news-description" ng-bind="n.description"></div>
                        <div class="tp-news-bottom">
                            [<span ng-bind="n.datetime"></span>]&nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;
                            <span ng-bind="n.views"></span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

