
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}


<div class="tp-partner">
    <a class="tp-partner-item" href="{{p.url==null||p.url==''?'javascript:void(0);':p.url}}" ng-repeat="p in param.partner">
        <img ng-src="{{p.path}}" />
        <div ng-bind="p.title"></div>
    </a>
</div>

