
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}


<div class="tp-partner">
    @for (int i = 0; i < 13; i++)
    {
        <a class="tp-partner-item" href="http://www.baidu.com">
            <img src="~/Upload/setting/test.png" />
            <p>爱学堂</p>
        </a>
    }
    <script>
        $(function () {
            $('.tp-partner').liMarquee();
        });
    </script>
</div>

