
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}


<div class="tp-partner">
    @for (int i = 0; i < 13; i++)
    {
        <a class="tp-partner-item" href="http://www.baidu.com">
            <img src="~/Upload/setting/test.png" />
            @*<p>爱学堂</p>*@
        </a>
    }
</div>
@*<style>

    .dowebok {
        width: 790px;
        margin: 100px auto;
        font-size: 0;
    }

        .dowebok img {
            height:100px;
            margin-left: 10px;
            vertical-align: top;
        }
</style>
<div class="tp-partner">
    <a href="http://www.baidu.com"><img src="~/Upload/setting/test.png" /></a>
    <a href="http://www.baidu.com"><img src="~/Upload/setting/test.png" /></a>
    <a href="http://www.baidu.com"><img src="~/Upload/setting/test.png" /></a>
    <a href="http://www.baidu.com"><img src="~/Upload/setting/test.png" /></a>
    <a href="http://www.baidu.com"><img src="~/Upload/setting/test.png" /></a>
    <a href="http://www.baidu.com"><img src="~/Upload/setting/test.png" /></a>
    <a href="http://www.baidu.com"><img src="~/Upload/setting/test.png" /></a>
    <a href="http://www.baidu.com"><img src="~/Upload/setting/test.png" /></a>
    <a href="http://www.baidu.com"><img src="~/Upload/setting/test.png" /></a>
    <a href="http://www.baidu.com"><img src="~/Upload/setting/test.png" /></a>
    <a href="http://www.baidu.com"><img src="~/Upload/setting/test.png" /></a>
</div>*@
<script>
    $(function () {
        $('.tp-partner').liMarquee();
    });
</script>