
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}

<div id="wrap1" class="wrap">
    <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
    </ul>
</div>
<script type="text/javascript">
    $(function () {
        $('#wrap1').marquee();
    })
</script>


