<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>同歌教育</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/project1.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.4.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.qrcode.js"></script>
    <script src="~/Scripts/qrcode.js"></script>
    <script src="~/Scripts/project1.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>