html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Microsoft YaHei';
}

.tp-prepay-header {
    width: 1000px;
    margin: 0 auto;
}

.tp-prepay-header-logo {
    display: inline-block;
    float: left;
}

    .tp-prepay-header-logo img {
        height: 60px;
    }

.tp-prepay-header-sitename {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    line-height: 60px;
}

.tp-prepay-order {
    background-color: #f2f2f2;
}

.tp-prepay-order-wrapper {
    width: 1000px;
    margin: 0 auto;
}

.tp-prepay-order-productname {
    display: inline-block;
    line-height: 100px;
}

.tp-prepay-order-productprice {
    display: inline-block;
    line-height: 100px;
    float: right;
}

.tp-prepay-paymethod {
    width: 800px;
    margin: 0 auto;
    padding: 20px 100px;
}

.tp-prepay-paymethod-method {
    display: block;
    border: 2px solid transparent;
    padding: 10px;
}

    .tp-prepay-paymethod-method:hover {
        border: 2px solid #ff6600;
    }

    .tp-prepay-paymethod-method img {
        height: 40px;
    }

.tp-prepay-footer {
    position: fixed;
    top: 340px;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
}
