<div class="tp-sidebar-wrapper">
    <nav class="sidebar-nav">
        <ul class="metismenu" id="menu">
            <li>
                <a class="has-arrow" href=""><span class="fa fa-fw fa-star"></span>单页管理</a>
                <ul>
                    <li><a href="/Admin/PageList">单页列表</a></li>
                    <li><a href="/Admin/PageAdd?id=0">单页添加</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href=""><span class="fa fa-fw fa-star"></span>导航管理</a>
                <ul>
                    <li><a href="/Admin/NavList">导航列表</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href=""><span class="fa fa-fw fa-star"></span>轮播管理</a>
                <ul>
                    <li><a href="/Admin/BannerList">轮播列表</a></li>
                    <li><a href="/Admin/BannerAdd">轮播添加</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
