<footer class="tp-footer">
    <div class="tp-footer-wrapper">
        <ul class="tp-footer-link">
            @for (int i = 0; i < 4; i++)
            {
                <li>
                    <a>
                        123123123
                    </a>
                    <ul class="tp-footer-sublink">
                        <li><a>123</a></li>
                        <li><a>123</a></li>
                        <li><a>123</a></li>
                    </ul>
                </li>
            }
        </ul>
        <div class="tp-footer-qr">
            <img src="~/Upload/setting/test.png" />
            <p>微信公众平台</p>
        </div>
    </div>
    <div class="tp-footer-bottom">
        微信公众平台微信公众平台微信公众平台微信公众平台
    </div>
</footer>
