<nav class="tp-nav">
    <a class="tp-nav-logo" href="/Home/Index">
        <img ng-src="{{param.param.logo}}" />
    </a>
    <ul class="tp-nav-nav">
        <li ng-repeat="n in param.nav">
            <a href="{{n.mode==0?(n.url==null||n.url==''?'javascript:void(0);':n.url):n.mode==1?'/Home/Pagge?id='+n.page_id:'javascript:void(0);'}}" ng-bind="n.title"></a>
            <ul ng-if="n.mode==2" class="tp-nav-subnav">
                <li ng-repeat="sn in n.subnav"><a href="{{sn.mode==0?(sn.url==null||sn.url==''?'javascript:void(0);':sn.url):sn.mode==1?'/Home/Pagge?id='+sn.page_id:'javascript:void(0);'}}" ng-bind="sn.title"></a></li>
            </ul>
        </li>
    </ul>
    <div class="tp-nav-account">
        <span class="glyphicon glyphicon-user"></span>
        <a href="/Home/Index">登陆</a>&nbsp;/&nbsp;
        <a href="/Home/Index">注册</a>
    </div>
</nav>
<marquee class="tp-notice" direction="left">公告：<span ng-repeat="n in param.notice" ng-bind="($index+1)+'.'+n.content+'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'"></span></marquee>
<div id="tp-banner" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#tp-banner" data-slide-to="{{$index}}" ng-class="{'active':$index==0}" ng-repeat="b in param.banner"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item" ng-class="{'active':$index==0}" ng-repeat="b in param.banner">
            <a href="{{b.mode==0?(b.url==null||b.url==''?'javascript:void(0);':b.url):'/Home/Pagge?id='+b.page_id}}">
                <img ng-src="{{b.path}}" />
            </a>
        </div>
    </div>
    <a class="left carousel-control" href="#tp-banner" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#tp-banner" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
