<div class="tp-sidebar-wrapper">
    <nav class="sidebar-nav">
        <ul class="metismenu" id="menu">
            <li>
                <a class="has-arrow" href=""><span class="fa fa-fw fa-cog"></span>&nbsp;设置</a>
                <ul>
                    <li><a href="/Member/Setting">设置</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
