
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script src="~/Scripts/jquery-2.2.4.js"></script>
</head>
<body>
    <div>
        <div class="wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <jsp:include page="/views/templates/sidemenu.jsp"></jsp:include>
                    </div>
                    <div class="col-md-9">
                        <div class="index-type-wrapper-title">登陆</div>
                        <table class="message-tb">
                            <tr>
                                <td>电话：</td>
                                <td><input type="text" id="phone" /></td>
                            </tr>
                            <tr>
                                <td>密码：</td>
                                <td><input type="text" id="password" /></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><button onclick="add()">提&nbsp;&nbsp;&nbsp;&nbsp;交</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function add() {
                $.ajax({
                    url: "/Member/Login",
                    type: "post",
                    data: {
                        phone: $('#phone').val(),
                        password: $('#password').val()
                    },
                    dataType: "json",
                    success: function (d) {
                        if (d == true) {
                            window.location.href = '/home/index';
                        } else {
                            alert(d);
                        }
                    },
                });
            }
        </script>
    </div>
</body>
</html>
