* {
    outline: none !important;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
}

    a:hover {
        text-decoration: none;
    }

.no-padding {
    padding: 0;
}
